## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=4
print(a)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
a=8.5
print(type(a))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
a=4
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
a= "ivan"

5) Crear una variable que contenga un número complejo

In [15]:
a=3+5j
print(a)

(3+5j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [14]:
a= 3+5j
print(type(a))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
import math
a=round(math.pi, 4)
print(a)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
a="True"
b= True
print(a==b)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
a="True"
b= True
print(type(a),type(b))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
a= 3+ 2.5
print(a)

5.5

11) Realizar una operación de suma de números complejos

In [16]:
a= 3+4j
b=2+7j
print(a+b)

(5+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
a=5
b=7+2j
print(a+b)

(12+2j)

13) Realizar una operación de multiplicación

In [18]:
print(3*8)

24

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
print(pow(2, 8))

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:
a=27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [10]:
b=27//4
print(b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [11]:
c=27%4
print(c)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [14]:
veintisiete = (4*b)+c
print(veintisiete)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [16]:
titulo= "el señor de los zarcillos"
saga= "la comuna hippie"
print(titulo + ", " + saga)

el señor de los zarcillos, la comuna hippie

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [18]:
comparacion= 2=="2"
print(comparacion)
#ambos datos son de tipo distinto. 2 es un int y "2" un string

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [24]:
comparacion_2= 2 == int("2")
print(comparacion_2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [3]:
a = float("3,8")
print(a)

#la coma en python no funciona como designador de parte entera y decimal, el interpretador lo decodifica como un separador entre dos elementos de una lista

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [2]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [10]:
a=1<<2
print(a)
#el numero 1; representado en binario con el byte 0001, esta viendo uno de sus bits desplazado a la izquierda, convirtiendolo en 0100 que equivale a 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [7]:
a = 2 + '2'
'''
no esta permitido operar con suma dos datos de distinto tipo. en el caso de los dos datos ser de tipo int, el resultado es 4. si los dos datos son de tipo str;
el resultado es "22"
'''

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [13]:
3*"a"

'aaa'